.sunday { color: red; }
.monday { color: green; }
.tuesday { color: orange; }
.wednesday { color: yellow; }
.thursday { font-weight: bold; color: black; }
.friday { color: blue; }
.saturday { font-weight: bold; color: red; }